<!--
<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  mapTypeId="hybrid"
  >  

 <agm-marker
  [markerDraggable]="iconMaps.draggable"
    *ngFor="let position of positions; let x = index"
    [iconUrl]="obtener_iconmaps(position)"
    [latitude]="position.lat"
    [longitude]="position.lng"
    [opacity] = "position.connection_alpha"
    (mouseOver)="mouseOver(position, x)"
 >
  <agm-info-window><h1>{{ title }}</h1></agm-info-window>
  </agm-marker>
</agm-map>
-->

<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  (mapReady)="onMapReady($event)"
>  
</agm-map>